<style>
        .mine{
            font-style: italic;
        }
        .alfa{
            color: white;
            background-color: brown;
            text-align: center;
        }
        body{
            background-image: url("/assets/image/skyblue.jpg");
        }
        p{
            font-size: larger; color: rgba(6, 6, 54, 0.537);
        }
        li{
            font-size: medium;
        }
        h1{
            background-color: gray;
        }
        #my-blue{
            color: blue;
        }
        
        </style>